<!-- <section>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
        <label for="day">day:</label>
        <input type="date" id="day" formControlName="day" />
      
        <label for="start">start:</label>
        <input type="time" id="start" formControlName="start" />
      
        <label for="duration">Duration:</label>
        <input type="number" id="duration" formControlName="duration" />
      
        <label for="password">Password (for reservations over 2 hours):</label>
        <input type="password" id="password" formControlName="password" />
      
        <button type="submit" [disabled]="!reservationForm.valid">Submit</button>
      </form>
</section> -->